*{
	font-size: 28px;
}


body {
  background: turquoise;
  border: 1px solid black;
  margin-left: 25%;
  margin-right: 25%;

  padding: 5%;
}


h1{
	text-align: center;
	color: white;
}


p.underline{
	text-decoration: underline;
}